$orange:#e37846;

@mixin margenes($top,$bottom){
	margin-top:  $top;
	margin-top:  $bottom;
}

.jumbotron{
	background-color: $orange;
	color:black;
	@include margenes(50px , 0px);
	border: 1px solid black;
}

footer{
	padding: 10px 10px 0px 10px;
	background-color: $orange;
	border: 1px solid black;
}

.card-hotel{
	flex:  1 200px;
}

.btn-dark{
	width: 100%; 
	
} 

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}
