.jumbotron {
  background-color: #e8a566;
  color: black;
  margin-top: 10px;
  margin-top: 0px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #e8a566;
  border: 1px solid black;
}
.card-hotel {
  flex: 1 200px;
}
.btn-dark {
  width: 100%;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
