.jumbotron {
  background-color: #e37846;
  color: black;
  margin-top: 50px;
  margin-top: 0px;
  border: 1px solid black;
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: #e37846;
  border: 1px solid black;
}

.card-hotel {
  flex: 1 200px;
}

.btn-dark {
  width: 100%;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=Styles.css.map */
