@orange:#cfde00;


.margenes(@top: 0px ,@bottom :0px){
  margin-top:  @top;
  margin-top:  @bottom;
}

.jumbotron {
  background-color: @orange;
  color: black;
  .margenes(10px , 0px)
 }

footer {
  padding: 10px 10px 0px 10px;
  background-color: @orange;
  border: 1px solid black; }

.card-hotel {
  flex: 1 200px; }

.btn-dark {
  width: 100%; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }